/*Eric Meyers CSS reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Base elements style */
html,
button,
input,
select,
textarea {
  font-family: 'PT Sans Narrow', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
}
body {
  font-size: 18px;
  line-height: 1.3333333333333333em;
  background: #fff;
}
::-moz-selection {
  background: #b3d4fc;
}
::selection {
  background: #b3d4fc;
}
/* Embedded content */
input::-ms-clear {
  display: none;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* Lists */
ul {
  list-style: none;
}
/* Forms */
legend {
  white-space: normal;
  margin-left: -7px;
}
button,
input,
select,
textarea {
  vertical-align: middle;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
}
textarea {
  resize: vertical;
}
/* Tables */
td {
  vertical-align: top;
}
/* Typography */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.3333333333333333em 0;
  padding: 0;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
