.b-field {
  line-height: 24px;
  margin-bottom: 18px;
  &__label {
    color $baseRedColor;
    display: inline-block;
    padding-bottom: 1px;
  }
  &__code-inp {
    display: inline-block;
    vertical-align: bottom;
    width: 96px;
    padding-bottom: 2px;
  }
  &__code {
    margin-top: 5px;
    display: inline-block;
    width: 101px;
    height: 46px;
    vertical-align: bottom;
    padding-bottom: 1px;
    border-bottom: 1px solid #afd8fd;
    margin-right: -2px;
    margin-left: 8px;
    &>img {
      width: 99px;
      height: 44px;
      display: block;
      border: 1px solid #afd8fd;
    }
  }
}