.b-field {
  line-height: 24px;
  margin-bottom: 18px;
}
.b-field__label {
  color: #ff4e00;
  display: inline;
  zoom: 1;
  padding-bottom: 1px;
}
.b-field__code-inp {
  display: inline;
  zoom: 1;
  vertical-align: bottom;
  width: 96px;
  padding-bottom: 2px;
}
.b-field__code {
  margin-top: 5px;
  display: inline;
  zoom: 1;
  width: 101px;
  height: 46px;
  vertical-align: bottom;
  padding-bottom: 1px;
  border-bottom: 1px solid #afd8fd;
  margin-right: -2px;
  margin-left: 8px;
}
.b-field__code>img {
  width: 99px;
  height: 44px;
  display: block;
  border: 1px solid #afd8fd;
}
