.b-text-h3 {
  text-transform: uppercase;
  color: #007dee;
  font: normal 18px/1.3333333333333333em 'PT Sans Narrow', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.b-text-small {
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
.b-text-img {
  padding-top: 2px;
  border-top: 1px solid #ff4a4a;
}
.b-text-img>img {
  vertical-align: top;
}
.b-text-red {
  color: #ff4e00;
}
.b-text-black {
  color: #111;
}
