.b-history {
  padding-top: 27px;
  padding-left: 25px;
  &__circs {
    textSmall();
  }
  &__img {
    margin-top: 9px;
    margin-bottom: 14px;
    padding-top: 2px;
    border-top: 1px solid #ff4040;
    &>img {
      width: 100%;
    }
  }
  &__dates {
    text-align: justify;
    margin-top: 8px;
    zeroFonts();
    &:after {
      content: ' ';
      display: inline-block;
      vertical-align: top;
      width: 80%;
    }
  }
  &__item {
    text-align: left;
    display: inline-block;
    color: #ff4e00;
    normalFonts();
    text-transform: uppercase;
    &+&+& {
      
      &:after {
        content:' ';
        display: inline-block;
        sprite($b-arrow__right_sprite);
        position: relative;
        top: -3px;
        right: -3px;
        margin-left: 7px;
      } 
    }
    &:first-child {
      &:before {
        content: ' ';
        display: inline-block;
        sprite($b-arrow__left_sprite);
        position: relative;
        top: -3px;
        left: 1px;
        margin-right: 12px;
      }
    }
  }
}