.b-history {
  padding-top: 27px;
  padding-left: 25px;
}
.b-history__circs {
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
.b-history__img {
  margin-top: 9px;
  margin-bottom: 14px;
  padding-top: 2px;
  border-top: 1px solid #ff4040;
}
.b-history__img>img {
  width: 100%;
}
.b-history__dates {
  text-align: justify;
  margin-top: 8px;
  font: 0/0.1 a;
}
.b-history__dates:after {
  content: ' ';
  display: inline;
  zoom: 1;
  vertical-align: top;
  width: 80%;
}
.b-history__item {
  text-align: left;
  display: inline;
  zoom: 1;
  color: #ff4e00;
  font: normal 18px/1.3333333333333333em 'PT Sans Narrow', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.b-history__item+.b-history__item+.b-history__item:after {
  content: ' ';
  display: inline;
  zoom: 1;
  background-image: url("../publish/sprite.png");
  background-position: 0px -7px;
  width: 12px;
  height: 7px;
  position: relative;
  top: -3px;
  right: -3px;
  margin-left: 7px;
}
.b-history__item:first-child:before {
  content: ' ';
  display: inline;
  zoom: 1;
  background-image: url("../publish/sprite.png");
  background-position: 0px 0px;
  width: 12px;
  height: 7px;
  position: relative;
  top: -3px;
  left: 1px;
  margin-right: 12px;
}
