$b-arrow__left_sprite_x = 0px;
$b-arrow__left_sprite_y = 0px;
$b-arrow__left_sprite_offset_x = 0px;
$b-arrow__left_sprite_offset_y = 0px;
$b-arrow__left_sprite_width = 12px;
$b-arrow__left_sprite_height = 7px;
$b-arrow__left_sprite_total_width = 12px;
$b-arrow__left_sprite_total_height = 164px;
$b-arrow__left_sprite_image = '../publish/sprite.png';
$b-arrow__left_sprite = 0px 0px 0px 0px 12px 7px 12px 164px '../publish/sprite.png';
$b-arrow__right_sprite_x = 0px;
$b-arrow__right_sprite_y = 7px;
$b-arrow__right_sprite_offset_x = 0px;
$b-arrow__right_sprite_offset_y = -7px;
$b-arrow__right_sprite_width = 12px;
$b-arrow__right_sprite_height = 7px;
$b-arrow__right_sprite_total_width = 12px;
$b-arrow__right_sprite_total_height = 164px;
$b-arrow__right_sprite_image = '../publish/sprite.png';
$b-arrow__right_sprite = 0px 7px 0px -7px 12px 7px 12px 164px '../publish/sprite.png';
$b-modal__arr_dir_next_sprite_x = 0px;
$b-modal__arr_dir_next_sprite_y = 64px;
$b-modal__arr_dir_next_sprite_offset_x = 0px;
$b-modal__arr_dir_next_sprite_offset_y = -64px;
$b-modal__arr_dir_next_sprite_width = 11px;
$b-modal__arr_dir_next_sprite_height = 50px;
$b-modal__arr_dir_next_sprite_total_width = 12px;
$b-modal__arr_dir_next_sprite_total_height = 164px;
$b-modal__arr_dir_next_sprite_image = '../publish/sprite.png';
$b-modal__arr_dir_next_sprite = 0px 64px 0px -64px 11px 50px 12px 164px '../publish/sprite.png';
$b-modal__arr_dir_prev_sprite_x = 0px;
$b-modal__arr_dir_prev_sprite_y = 114px;
$b-modal__arr_dir_prev_sprite_offset_x = 0px;
$b-modal__arr_dir_prev_sprite_offset_y = -114px;
$b-modal__arr_dir_prev_sprite_width = 11px;
$b-modal__arr_dir_prev_sprite_height = 50px;
$b-modal__arr_dir_prev_sprite_total_width = 12px;
$b-modal__arr_dir_prev_sprite_total_height = 164px;
$b-modal__arr_dir_prev_sprite_image = '../publish/sprite.png';
$b-modal__arr_dir_prev_sprite = 0px 114px 0px -114px 11px 50px 12px 164px '../publish/sprite.png';
$b-modal__close_sprite_x = 0px;
$b-modal__close_sprite_y = 14px;
$b-modal__close_sprite_offset_x = 0px;
$b-modal__close_sprite_offset_y = -14px;
$b-modal__close_sprite_width = 10px;
$b-modal__close_sprite_height = 10px;
$b-modal__close_sprite_total_width = 12px;
$b-modal__close_sprite_total_height = 164px;
$b-modal__close_sprite_image = '../publish/sprite.png';
$b-modal__close_sprite = 0px 14px 0px -14px 10px 10px 12px 164px '../publish/sprite.png';
$b-modal__ctrl_state_pause_sprite_x = 0px;
$b-modal__ctrl_state_pause_sprite_y = 24px;
$b-modal__ctrl_state_pause_sprite_offset_x = 0px;
$b-modal__ctrl_state_pause_sprite_offset_y = -24px;
$b-modal__ctrl_state_pause_sprite_width = 6px;
$b-modal__ctrl_state_pause_sprite_height = 10px;
$b-modal__ctrl_state_pause_sprite_total_width = 12px;
$b-modal__ctrl_state_pause_sprite_total_height = 164px;
$b-modal__ctrl_state_pause_sprite_image = '../publish/sprite.png';
$b-modal__ctrl_state_pause_sprite = 0px 24px 0px -24px 6px 10px 12px 164px '../publish/sprite.png';
$b-modal__ctrl_state_play_sprite_x = 0px;
$b-modal__ctrl_state_play_sprite_y = 34px;
$b-modal__ctrl_state_play_sprite_offset_x = 0px;
$b-modal__ctrl_state_play_sprite_offset_y = -34px;
$b-modal__ctrl_state_play_sprite_width = 6px;
$b-modal__ctrl_state_play_sprite_height = 10px;
$b-modal__ctrl_state_play_sprite_total_width = 12px;
$b-modal__ctrl_state_play_sprite_total_height = 164px;
$b-modal__ctrl_state_play_sprite_image = '../publish/sprite.png';
$b-modal__ctrl_state_play_sprite = 0px 34px 0px -34px 6px 10px 12px 164px '../publish/sprite.png';
$b-pager__arr_type_left_sprite_x = 0px;
$b-pager__arr_type_left_sprite_y = 44px;
$b-pager__arr_type_left_sprite_offset_x = 0px;
$b-pager__arr_type_left_sprite_offset_y = -44px;
$b-pager__arr_type_left_sprite_width = 6px;
$b-pager__arr_type_left_sprite_height = 10px;
$b-pager__arr_type_left_sprite_total_width = 12px;
$b-pager__arr_type_left_sprite_total_height = 164px;
$b-pager__arr_type_left_sprite_image = '../publish/sprite.png';
$b-pager__arr_type_left_sprite = 0px 44px 0px -44px 6px 10px 12px 164px '../publish/sprite.png';
$b-pager__arr_type_right_sprite_x = 0px;
$b-pager__arr_type_right_sprite_y = 54px;
$b-pager__arr_type_right_sprite_offset_x = 0px;
$b-pager__arr_type_right_sprite_offset_y = -54px;
$b-pager__arr_type_right_sprite_width = 6px;
$b-pager__arr_type_right_sprite_height = 10px;
$b-pager__arr_type_right_sprite_total_width = 12px;
$b-pager__arr_type_right_sprite_total_height = 164px;
$b-pager__arr_type_right_sprite_image = '../publish/sprite.png';
$b-pager__arr_type_right_sprite = 0px 54px 0px -54px 6px 10px 12px 164px '../publish/sprite.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
