.b-links {
  height: 34px;
  line-height: 32px;
  background-color: #1489f4;
  background-image: linear-gradient(bottom, #4eabff, #007dee 18%, #319eff);
  display: inline;
  zoom: 1;
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
  padding: 0 35px;
}
.b-links__feedback {
  position: absolute;
  left: 4px;
  right: 4px;
  z-index: 1;
  top: 34px;
/*display: none; */
}
.b-links__item {
  display: inline;
  zoom: 1;
  vertical-align: middle;
}
.b-links__item:before {
  content: '//';
  color: #b7ddff;
  display: inline;
  zoom: 1;
  padding: 0 9px;
}
.b-links__item:first-child:before {
  display: none;
}
.b-links__item>a {
  color: #fff;
}
