.b-links {
  button();
  position: relative;
  font-size: 16px;
  text-shadow: 0 -1px rgba(0,0,0,.17);
  padding: 0 35px;
  &__feedback {
    position: absolute;
    left: 4px;
    right: @left;
    z-index: 1;
    top: @height;

    /*display: none; */
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    &:before {
      content:'//'
      color: #b7ddff;
      display: inline-block;
      padding: 0 9px;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
    &>a {
      color: #fff;
    }
  }
}