.b-player {
  margin-left: 17px;
  margin-right: 17px;
  /*margin-right: 10.3%;*/
  &__h {
    & {
      overflow: hidden;
      margin-top: 22px;
    }
    &,
    &>a {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.2;
      white-space nowrap;
      text-overflow ellipsis;
      color #b7ddff;
    }
    &>a:hover {
      text-decoration: underline;
    }
  }
  &__name {
    color #4facff;
  }
  &__num {
    margin-bottom: 15px;
  }
  &__about-list {
    text-transform: uppercase;
    color: #666;
    margin-bottom: 8px;
    margin-top: 15px;
  }
  &__img {
    float: right;
    image();
    width: 189px;
    height: 227px;
    margin-bottom: 8px;
  }
}