.b-player {
  margin-left: 17px;
  margin-right: 17px;
/*margin-right: 10.3%;*/
}
.b-player__h {
  overflow: hidden;
  margin-top: 22px;
}
.b-player__h,
.b-player__h>a {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #b7ddff;
}
.b-player__h>a:hover {
  text-decoration: underline;
}
.b-player__name {
  color: #4facff;
}
.b-player__num {
  margin-bottom: 15px;
}
.b-player__about-list {
  text-transform: uppercase;
  color: #666;
  margin-bottom: 8px;
  margin-top: 15px;
}
.b-player__img {
  float: right;
  padding-top: 2px;
  border-top: 1px solid #ff4a4a;
  width: 189px;
  height: 227px;
  margin-bottom: 8px;
}
.b-player__img>img {
  vertical-align: top;
}
