html {
  height: 100%;
}
.b-page {
  height: 100%;
  min-width: 1000px;
}
.b-page__container {
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 210px;
  max-width: 1360px;
  margin: auto;
  position: relative;
  box-shadow: 0 0 7px #f0f0f0;
}
.b-page__footer {
  height: 210px;
/*margin-top: -1 * $footer;*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.b-page__header {
  height: 433px;
}
.b-page__wrapper {
  max-width: 1360px;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.b-page__row {
  max-width: 1000px;
/*min-width: 1000px;*/
  margin-left: auto;
  margin-right: auto;
  clear: both;
  position: relative;
}
.b-page__row:before,
.b-page__row:after {
  content: " ";
  display: table;
}
.b-page__row:after {
  clear: both;
}
.b-page__side {
  float: right;
  padding-bottom: 46px;
  width: 121px;
}
.b-page__pager {
  position: absolute;
  bottom: 28px;
  right: 140px;
  left: 0;
  text-align: center;
}
.b-page__column {
  width: 50%;
  float: left;
}
.b-page__thead {
  padding: 30px 0 12px;
}
.b-page__wr {
  float: left;
  width: 100%;
  margin-left: -123px;
}
.b-page__content {
  margin: 0 0 0 123px;
  padding-right: 50px;
  padding-left: 27px;
  padding-bottom: 46px;
}
.b-page__content:before,
.b-page__content:after {
  content: " ";
  display: table;
}
.b-page__content:after {
  clear: both;
}
.b-page__content_type_inner {
  padding-left: 15px;
  padding-right: 65px;
}
.b-page__content_pager_yes {
  position: relative;
  padding-bottom: 100px;
}
.b-page__content_type_photo {
  padding-left: 15px;
  margin-right: 0px;
  padding-right: 0;
}
.b-page__content_type_best {
  margin-left: 93px;
  padding-right: 8px;
}
