$footer = 210px;
html {
  height: 100%;
}
.b-page {   //defacto синоним body
  height: 100%;
  min-width: 1000px;
  
  &__container {
    min-height 100%
    box-sizing border-box;
    padding-bottom: $footer;
    max-width: $maxwidth;
    margin auto;
    position: relative;
    box-shadow 0 0 7px #f0f0f0;
  }
  &__main {}
  &__footer {
    height $footer;
    /*margin-top: -1 * $footer;*/
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__header {
    height: 433px;
  }
  &__wrapper {     // обертка, ограничивающая блоки по ширине до 1360
    max-width: 1360px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  &__row {     // обертка, ограничивающая блоки по ширине  до 1000
    max-width: 1000px;
    /*min-width: 1000px;*/
    margin-left: auto;
    margin-right: auto;
    clear: both;
    clearfix();
    position: relative
  }
  &__side {
    float: right;
    padding-bottom: 46px;
    width: 121px;
  }
  &__pager {
    position: absolute;
    bottom: 28px;
    right: 140px;
    left: 0;
    text-align: center;
    
  }
  &__column {
    width: 50%;
    float: left;
  }
  &__thead {
    padding: 30px 0 12px;
  }
  &__wr {
    float: left;
    width: 100%;
    margin-left: -123px;
  }
    
  &__content {
    clearfix();
    margin: 0 0 0 123px;
    padding-right: 50px;
    padding-left: 27px;
    padding-bottom: 46px;
    
    &_type_inner {
      padding-left: 15px;
      padding-right: 65px;
    }
    &_pager_yes {
      position: relative;
      padding-bottom: 100px;
    }
    &_type_photo {
      padding-left: 15px;
      margin-right: 0px;
      padding-right: 0;
    }
    &_type_best {
      margin-left: 93px;
      padding-right: 8px;
    }
  }
}
