baseLink() {
  color $baseLinkColor;
  text-decoration: none;
  /*text-transform: uppercase;*/
  &:hover {
    text-decoration: underline;
  }
}
a {
  text-decoration: none;
}
.b-link {
  baseLink();
}