columns( $count )
  width: $gridColumnWidth * $count + $gridGutterWidth * ( $count - 1 );
  margin-right: $gridGutterWidth;
  float: left;

controlReset()
  margin: 0;
  padding: 0;
  border: none;
  background transparent;
  font-family: inherit
  font-size: 100%;
  box-sizing border-box;
zeroFonts()
  font: 0/0.1 a;

normalFonts()
  font: normal $baseFontSize/$baseLineHeight $baseFontFamily;
  
/*========================*/
button($h = 34px)
  height: $h;
  line-height: @height - 2px;
  border-radius: 5px/17px;
  background-color: #1489f4;
  background-image: linear-gradient(bottom, #4eabff, #007dee 18%, #319eff);
  display: inline-block;

  text-transform: uppercase;
/*color: #fff;*/

image()
  padding-top: 2px;
  border-top: 1px solid $baseRedColor2;
  &>img {
    vertical-align: top;
  }
    
textHeader()
  text-transform: uppercase;
  color: $baseLinkColor;
  normalFonts();
  
textSmall()
  font-size: 14px;
  line-height: 20px;
  color $baseColorGray;
  