/* if-ie mixin from https://github.com/kizu/if-ie.styl */

// set the `ie` variable so you'll need only to set it to `true` in `ie.` files
ie ?= false


// Method to use a `{lte_ie9}` selector to make styles for either old ie, or for prefixed ie9 class
ie9_class ?= 'ie9' // set the `ie9_class` in your .styl if you need another class here
lte_ie9 = ie ? '' : '.' + ie9_class + ' '


// Handy `zoom`, would be visible only for IE
zoom()
  zoom: arguments if ie

// `inline-block` for IE
// Making it so it won't override previous overrides of `display`
display_previous = display if !display_previous && type(display) == "function"

display(type, args...)
  if type == inline-block and ie
    display: inline args
    zoom: 1
  else
    if type(display_previous) == "function"
      display_previous(arguments)
    else
      display: arguments


// Basic color blending
blend(color1,color2)
  // Only normal blending here for now
  return color2 if alpha(color2) == 1
  return color1 if alpha(color2) == 0
  newR = (1 - alpha(color2)) *   red(color1) + alpha(color2) *   red(color2)
  newG = (1 - alpha(color2)) * green(color1) + alpha(color2) * green(color2)
  newB = (1 - alpha(color2)) *  blue(color1) + alpha(color2) *  blue(color2)
  newA = 1 // FIXME: would be smth different if the alpha of color1 != 1
  return rgba(newR,newG,newB,newA)


// Proxy for passing the arguments to `rgba`
// See https://github.com/LearnBoost/stylus/issues/803
rgba-proxy()
  return rgba(arguments) if length(arguments) == 1
  return rgba(arguments[0],arguments[1]) if length(arguments) == 2
  return rgba(arguments[0],arguments[1],arguments[2]) if length(arguments) == 3 // In case there'd be such case
  return rgba(arguments[0],arguments[1],arguments[2],arguments[3]) if length(arguments) == 4


// rgba-like function with an optional fallback (defaults to #FFF)
rgba-ie()
  $fallback = #FFF
  if length(arguments) > 1 && type(arguments[length(arguments) - 1]) == "rgba"
    $fallback = pop(arguments)

  return blend($fallback, rgba-proxy(arguments)) if ie
  return rgba-proxy(arguments)


// Crossbrowser `rect()` for `clip` property
rect()
  return 'rect(%s)' % unquote(join(ie?' ':',', arguments))


// Simple nth-child helper for IE
// Inspired by http://codepen.io/scottkellum/pen/isytK
// No handling of `2n` and `2n + 1` like functions (yet?)
nth-child(selector, number, offset = 0)
  if ie and number[1] != n // second check don't throw away the rule, need to find better way.
    a = ':first-child'
    if number == 1
      return unquote(selector) + a
    for i in (2..number)
      a = a + ' + ' if i == 2
      a = a + '* + ' if i > 2
    return a + unquote(selector)
  else
    return '%s:nth-child(%s)' % (unquote(selector) unquote(join('',number)))


// Disabling vendor functions in IE, saving bytes.
// Would work only if `ie` variable would be set _before_ including if-ie.styl`.

if ie
  border-radius()
    z if 0 // Do nothing in IE
  text-shadow()
    z if 0 // Do nothing in IE
  box-shadow()
    z if 0 // Do nothing in IE
  user-select()
    z if 0 // Do nothing in IE
  column-count()
    z if 0 // Do nothing in IE
  column-gap()
    z if 0 // Do nothing in IE
  column-rule()
    z if 0 // Do nothing in IE
  column-rule-color()
    z if 0 // Do nothing in IE
  column-rule-width()
    z if 0 // Do nothing in IE
  column-rule-style()
    z if 0 // Do nothing in IE
  column-width()
    z if 0 // Do nothing in IE
  column-span()
    z if 0 // Do nothing in IE
  column-fill()
    z if 0 // Do nothing in IE
  background-clip()
    z if 0 // Do nothing in IE
  background-origin()
    z if 0 // Do nothing in IE
  background-size()
    z if 0 // Do nothing in IE
  transform()
    z if 0 // Do nothing in IE
  transform-style()
    z if 0 // Do nothing in IE
  border-image()
    z if 0 // Do nothing in IE
  transition()
    z if 0 // Do nothing in IE
  transition-property()
    z if 0 // Do nothing in IE
  transition-duration()
    z if 0 // Do nothing in IE
  transition-timing-function()
    z if 0 // Do nothing in IE
  transition-delay()
    z if 0 // Do nothing in IE
  backface-visibility()
    z if 0 // Do nothing in IE
  perspective()
    z if 0 // Do nothing in IE
  perspective-origin()
    z if 0 // Do nothing in IE
  text-size-adjust()
    z if 0 // Do nothing in IE
  box-sizing()
    z if 0 // Do nothing in IE
  box-orient()
    z if 0 // Do nothing in IE
  box-flex()
    z if 0 // Do nothing in IE
  box-flex-group()
    z if 0 // Do nothing in IE
  box-ordinal-group()
    z if 0 // Do nothing in IE
  box-align()
    z if 0 // Do nothing in IE
  box-pack()
    z if 0 // Do nothing in IE
  box-direction()
    z if 0 // Do nothing in IE
  animation()
    z if 0 // Do nothing in IE
  animation-name()
    z if 0 // Do nothing in IE
  animation-duration()
    z if 0 // Do nothing in IE
  animation-delay()
    z if 0 // Do nothing in IE
  animation-direction()
    z if 0 // Do nothing in IE
  animation-iteration-count()
    z if 0 // Do nothing in IE
  animation-timing-function()
    z if 0 // Do nothing in IE
  animation-play-state()
    z if 0 // Do nothing in IE
  animation-fill-mode()
    z if 0 // Do nothing in IE
  hyphens()
    z if 0 // Do nothing in IE
  appearance()
    z if 0 // Do nothing in IE
  tab-size()
    z if 0 // Do nothing in IE
  overflow-scrolling()
    z if 0 // Do nothing in IE
  text-size-adjust()
    z if 0 // Do nothing in IE
