.b-pager {
  font-size: 30px;
  color $baseRedColor;
  display: inline-block;
  text-align: left;
  &__item {
    margin: 0 3px;
    display: inline-block;
    &_type_dots {
      color #ccc;
      margin: 0 -3px;
    }
  }
  &__arr {
    display: inline-block;
    position: relative;
    top: -5px;
    &_type_left {
      sprite($b-pager__arr_type_left_sprite);
      margin-right: 6px;
    }
    &_type_right {
      sprite($b-pager__arr_type_right_sprite);
      margin-left: 6px;
    }
  }
}