.b-pager {
  font-size: 30px;
  color: #ff4e00;
  display: inline;
  zoom: 1;
  text-align: left;
}
.b-pager__item {
  margin: 0 3px;
  display: inline;
  zoom: 1;
}
.b-pager__item_type_dots {
  color: #ccc;
  margin: 0 -3px;
}
.b-pager__arr {
  display: inline;
  zoom: 1;
  position: relative;
  top: -5px;
}
.b-pager__arr_type_left {
  background-image: url("../publish/sprite.png");
  background-position: 0px -44px;
  width: 6px;
  height: 10px;
  margin-right: 6px;
}
.b-pager__arr_type_right {
  background-image: url("../publish/sprite.png");
  background-position: 0px -54px;
  width: 6px;
  height: 10px;
  margin-left: 6px;
}
