.b-cup {
  clearfix();
  &__item {
    float: left;
    width: 50%;
  }
  &__h {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    padding-left: 20px;
    line-height: 1.4;
    padding-top: 25px;
    padding-bottom: 6px;
    font-family: $fontSerif;
    &,
    &>a {
      color: #4facff;
    }
  }
  &__team-list {
    padding-left: 20px;
    position: relative;
    overflow: hidden;
  }
  &__item:first-child &__team-list  {
    &:after {
      border-right: 1px solid #b7ddff;
      content " ";
      position: absolute;
      top: 0;
      bottom: 50px;
      right: 0;
    }
  }
  &__team {
    margin-right: 10px;
    float: left;
    position: relative;
    display: block;
    margin-bottom: 20px;
  } 
  &__img {
    text-align: center;
    width: 190px;
    height: 150px;
    display: block;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border: solid 1px #e6e6e6;
    line-height: @height - 2px;
    &>img {
      vertical-align: middle;
    }
  }
  &__name {
    margin-top: 6px;
    text-align: center;
  }
  &__name-cont {
    text-align: left
    display: inline-block;
    white-space nowrap;
    
  }
  &__name-link {
    display: inline-block
    overflow: hidden
    text-overflow ellipsis
    max-width: 171px;
    vertical-align: bottom;
  }
  &__team:hover &__img {
    border: 1px solid #ff4e00;
  }
  &__team:hover &__name-link {
    text-decoration: underline;
  }
}