.b-cup {
  zoom: 1;
}
.b-cup:before,
.b-cup:after {
  content: " ";
  display: table;
}
.b-cup:after {
  clear: both;
}
.b-cup__item {
  float: left;
  width: 50%;
}
.b-cup__h {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-left: 20px;
  line-height: 1.4;
  padding-top: 25px;
  padding-bottom: 6px;
  font-family: 'PT Sans Narrow', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.b-cup__h,
.b-cup__h>a {
  color: #4facff;
}
.b-cup__team-list {
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}
.b-cup__item:first-child .b-cup__team-list:after {
  border-right: 1px solid #b7ddff;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 50px;
  right: 0;
}
.b-cup__team {
  margin-right: 10px;
  float: left;
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.b-cup__img {
  text-align: center;
  width: 190px;
  height: 150px;
  display: block;
  border: solid 1px #e6e6e6;
  line-height: 148px;
}
.b-cup__img>img {
  vertical-align: middle;
}
.b-cup__name {
  margin-top: 6px;
  text-align: center;
}
.b-cup__name-cont {
  text-align: left;
  display: inline;
  zoom: 1;
  white-space: nowrap;
}
.b-cup__name-link {
  display: inline;
  zoom: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 171px;
  vertical-align: bottom;
}
.b-cup__team:hover .b-cup__img {
  border: 1px solid #ff4e00;
}
.b-cup__team:hover .b-cup__name-link {
  text-decoration: underline;
}
