.b-news {
  font-size: 18px;
  padding-right: 25px;
  &__item {
    position: relative;
    margin-top: 25px;
  }
  &__img {
    position: absolute;
    border-top: 1px solid #ff4b4b;
    width: 150px;
    left: -171px;
    padding-top: 2px;
    top: 51px;
    @media (max-width: 1360px) {
      position: static;
      margin-top: 9px;
      margin-bottom: 14px;
    }
  }
  &__date {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: -1px;
    color $baseColorGray;
  }
  &__text {
    text-align: justify;
  }
  &__more {
    text-decoration: underline;
    &:before {
      content:'…'
    }
  }
  &__archive {
    text-align: right;
    margin-top: 48px;
  }
  
}
