.b-news {
  font-size: 18px;
  padding-right: 25px;
}
.b-news__item {
  position: relative;
  margin-top: 25px;
}
.b-news__img {
  position: absolute;
  border-top: 1px solid #ff4b4b;
  width: 150px;
  left: -171px;
  padding-top: 2px;
  top: 51px;
}
@media (max-width: 1360px) {
  .b-news__img {
    position: static;
    margin-top: 9px;
    margin-bottom: 14px;
  }
}
.b-news__date {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: -1px;
  color: #666;
}
.b-news__text {
  text-align: justify;
}
.b-news__more {
  text-decoration: underline;
}
.b-news__more:before {
  content: '…';
}
.b-news__archive {
  text-align: right;
  margin-top: 48px;
}
