.b-img {
  height: 285px;
  float: left;
  margin: 20px 20px 0 0;
  width: 380px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  border: solid 1px #e6e6e6;
  cursor: pointer;
  padding: 10px;
  background: #fff;
  &__wr {
    overflow: hidden;
  }
  &:hover {
    border: solid 1px #ff4e00;
  }
  &__img {
    &>img {
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }
  &_type_albom  {
    width: 780px;
    height: 335px;
  }
  &_type_albom &__img {
    width: 500px;
    height: 335px;
    display: inline-block;
    vertical-align: bottom;
  }
  &__subscr {
    display: inline-block;
    vertical-align: bottom;
    width: 270px;
    padding-left: 6px;
    margin-bottom: -7px;
  }
  &__subscr-season {
    padding-top: 19px;
  }
}