.b-img {
  height: 285px;
  float: left;
  margin: 20px 20px 0 0;
  width: 380px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: solid 1px #e6e6e6;
  cursor: pointer;
  padding: 10px;
  background: #fff;
}
.b-img__wr {
  overflow: hidden;
}
.b-img:hover {
  border: solid 1px #ff4e00;
}
.b-img__img>img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.b-img_type_albom {
  width: 780px;
  height: 335px;
}
.b-img_type_albom .b-img__img {
  width: 500px;
  height: 335px;
  display: inline-block;
  vertical-align: bottom;
}
.b-img__subscr {
  display: inline-block;
  vertical-align: bottom;
  width: 270px;
  padding-left: 6px;
  margin-bottom: -7px;
}
.b-img__subscr-season {
  padding-top: 19px;
}
