.b-best {
  padding-left: 25px;
  margin-top: 39px;
}
.b-best__figure {
  margin-top: 13px;
}
.b-best__img {
  padding-top: 2px;
  border-top: 1px solid #ff4a4a;
  display: inline-block;
  vertical-align: bottom;
  width: 80px;
  padding-bottom: 7px;
  margin-right: 15px;
}
.b-best__img>img {
  vertical-align: top;
}
.b-best__subscr {
  display: inline-block;
  vertical-align: bottom;
}
.b-best__age {
  padding: 5px 0;
}
.b-best__link {
  margin-left: 19px;
}
.b-best__link:first-child {
  margin-left: 0;
}
.b-best__table {
  margin-top: 10px;
}
.b-best__item {
  color: #111;
  border-top: 1px solid #b7ddff;
  display: inline-block;
  padding: 10px 0 9px;
}
.b-best__item:first-child {
  border-top: none;
}
.b-best__div {
  color: #ccc;
  margin: 0 10px;
}
.b-best__dig {
  color: #ff4e00;
}
