.b-best {
  padding-left: 25px;
  margin-top: 39px;
  &__figure {
    margin-top: 13px;
  }
  &__img {
    image();
    display: inline-block;
    vertical-align: bottom;
    width: 80px;
    padding-bottom: 7px;
    margin-right: 15px;
  }
  &__subscr {
    display: inline-block;
    vertical-align: bottom;
  }
  &__age {
    padding: 5px 0;
  }
  &__link {
    margin-left: 19px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__table {
    margin-top: 10px;
  }
  &__item {
    color $baseTextColor
    border-top: 1px solid #b7ddff;
    display: inline-block;
    padding: 10px 0 9px;
    display block if ie;
    &:first-child {
      border-top: none;
    }
  }
  &__div {
    color #ccc;
    margin: 0 10px;
  }
  &__dig {
    color $baseRedColor
  }
}