.b-header {
  min-height: 375px;
  position: relative;
  height: 433px;
}
.b-header__menu {
  clear: both;
  margin-top: 42px;
}
.b-header__carousel {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.b-header__content {
  position: relative;
}
.b-header__events {
  border-left: 1px solid #f45e40;
  margin-top: 35px;
  width: 260px;
  padding-right: 45px;
  height: 311px;
  margin-bottom: -100%;
  float: right;
  z-index: 1;
  position: relative;
}
.b-header__links {
  float: left;
  margin-left: 10px;
  margin-top: 318px;
  min-width: 453px;
}
.b-header__row {
  max-width: 1360px;
  min-width: 1000px;
  margin: 0 auto;
}
.b-header__logo {
  width: 716px;
  height: 375px;
  position: absolute;
  top: 0;
  left: -180px;
}
