$maw  = 1360px;
$miw = 1000px;

.b-header {
  min-height: 375px;
  position: relative;
  height: 433px;
  &__menu {
    clear: both;
    margin-top: 42px;
  }
  &__carousel {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__content {
    position: relative;
  }
  &__events {
    border-left: 1px solid #f45e40;
    margin-top: 35px;
    width: 260px;
    padding-right: 45px
    height: 311px;
    margin-bottom: -100%;
    float: right;
    z-index: 1;
    position: relative;
  }
  &__links {
    float: left;
    margin-left: 10px;
    margin-top: 318px;
    min-width: 453px;
  }
  &__row {
    max-width: $maw;
    min-width: $miw;
    margin: 0 auto;
  }
  &__logo {
    width: 716px;
    height: 375px;
    position: absolute;
    top: 0;
    left: -180px;
  }
}