.b-modal-overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #007dee;
  opacity: 0.6;
  display: none;
}
.b-modal {
  display: none;
  text-align: center;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 10%;
}
.b-modal__wrapper {
  display: inline-block;
  text-align: left;
  max-width: 100%;
  background: rgba(255,255,255,0.2);
}
.b-modal__window {
  margin: 10px;
  background: #fff;
  min-height: 100px;
  position: relative;
  text-align: left;
  display: inline-block;
}
.b-modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  background-image: url("../publish/sprite.png");
  background-position: 0px -14px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.b-modal__content {
  padding: 10px 50px;
}
.b-modal__arr {
  position: absolute;
  top: 30px;
  bottom: 64px;
  width: 50px;
  cursor: pointer;
}
.b-modal__arr>i {
  position: absolute;
  top: 50%;
  margin-top: -9px;
}
.b-modal__arr_dir_next {
  right: 0;
}
.b-modal__arr_dir_next>i {
  position: absolute;
  background-image: url("../publish/sprite.png");
  background-position: 0px -64px;
  width: 11px;
  height: 50px;
  right: 20px;
}
.b-modal__arr_dir_prev {
  left: 0;
}
.b-modal__arr_dir_prev>i {
  position: absolute;
  background-image: url("../publish/sprite.png");
  background-position: 0px -114px;
  width: 11px;
  height: 50px;
  left: 20px;
}
.b-modal__arr:hover>i {
  margin-top: -6px;
}
.b-modal__photo {
  text-align: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.14);
  border: solid 1px #ccc;
  min-height: 110px;
  padding: 2px 2px 53px;
  position: relative;
}
.b-modal__ctrl {
  position: absolute;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
  background-image: url("../publish/sprite.png");
  background-position: 0px -24px;
  width: 6px;
  height: 10px;
}
.b-modal__ctrl:active {
  margin-bottom: -1px;
}
.b-modal__ctrl_state_pause:hover,
.b-modal__ctrl_state_play {
  background-position: 0px -34px;
}
.b-modal__ctrl_state_play:hover,
.b-modal__ctrl_state_pause {
  background-position: 0px -24px;
}
.b-modal__img {
  overflow: hidden;
  min-width: 200px;
}
.b-modal__img>img {
  max-width: 100%;
  max-height: 100%;
}
.b-modal__subscr {
  white-space: nowrap;
  font: normal 18px/1.3333333333333333em 'PT Sans Narrow', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 16px;
  position: absolute;
  bottom: 13px;
  left: 10px;
  right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.js-modal {
  cursor: pointer;
}
