.b-modal {
  &-overlay {
    z-index 999
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #007dee;
    opacity: .6 if not ie;
    display: none;
    filter: unquote('progid:DXImageTransform.Microsoft.Alpha(opacity=60)') if ie;
  }
    
  & {
    display: none;
    text-align: center;
    position: absolute;
    z-index 999
    left: 0;
    right: 0;
    top: 10%;
  }
  &__wrapper {
    display: inline-block;
    text-align: left;
    max-width: 100%;
    background: rgba(255,255,255,.2);
  }
  &__window {
    margin: 10px;
    background: #fff;
    min-height: 100px;
    
    position: relative;
    
    text-align: left;
    display: inline-block
  }
  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    sprite($b-modal__close_sprite);
    cursor: pointer;
  }
  &__content {
    padding: 10px 50px;
  }
  &__arr {
    position: absolute;
    top: 30px;
    bottom: 64px;
    width: 50px;
    cursor: pointer;
    &>i {
      position: absolute;
      top: 50%;
      margin-top: -9px;
    }
    &_dir_next {
      right: 0;
      &>i {
        position: absolute
        sprite($b-modal__arr_dir_next_sprite);
        right: 20px;
      }
    }
    &_dir_prev {
      left 0;
      &>i {
        position: absolute;
        sprite($b-modal__arr_dir_prev_sprite);
        left: 20px;
      }
    }
    &:hover>i {
      margin-top: -6px;
    }
  }
  &__photo {
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,.14);
    border: solid 1px #ccc;
    min-height: 110px;
    padding: 2px 2px 53px;
    position: relative;
  }
  &__ctrl {
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    sprite($b-modal__ctrl_state_pause_sprite);
    &:active {
      margin-bottom: -1px;
    }
    &_state_pause:hover,
    &_state_play {
      spritePosition($b-modal__ctrl_state_play_sprite);
    }
      
    &_state_play:hover,
    &_state_pause {
      spritePosition($b-modal__ctrl_state_pause_sprite);
    }
  }
  &__img {
    overflow: hidden;
    min-width: 200px;
    &>img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__subscr {
    white-space nowrap;
    normalFonts();
    text-transform: uppercase;
    padding-top: 16px;
    position: absolute;
    bottom: 13px;
    left: 10px;
    right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.js-modal {
  cursor: pointer;
}