.b-menu {
  width: 100%;
}
.b-menu__list {
  font: 1px/1px inherit;
  text-align: justify;
  padding: 0 5px;
}
.b-menu__list:after {
  content: " ";
  display: inline;
  zoom: 1;
  width: 10%;
  vertical-align: top;
  height: 1px;
/*border: 1px solid black;*/
}
.b-menu__item {
  margin: 0 10px;
  text-transform: uppercase;
  font: 26px/1.4 'Open Sans Condensed', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ff4e00;
  display: inline;
  zoom: 1;
  text-align: left;
}
.b-menu__item>a {
  color: #007dee;
}
.b-menu_type_footer .b-menu__item {
  font: 18px/26px 'Open Sans Condensed', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
