.b-menu {
  width: 100%;
  &__list {
    font: 1px/1px inherit;
    text-align: justify;
    padding: 0 5px;
    &:after {
      content: " "
      display: inline-block;
      width: 10%;
      vertical-align: top;
      height 1px;
      /*border: 1px solid black;*/
    }
  }
  &__item {
    margin: 0 10px;
    text-transform: uppercase;
    font: 26px/1.4 $fontSerifOS;
    color #ff4e00;
    display: inline-block;
    text-align: left;
    &>a {
      color: #007dee;
    }
  }
    
  &_type_footer &__item {
    font: 18px/26px $fontSerifOS;
  }
  
}