.b-card {
  width: 388px;
  height: 200px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: solid 1px #e6e6e6;
  display: block;
  overflow: hidden;
  padding: 10px;
}
.b-card:hover {
  border-color: #ff4e00;
}
.b-card__img {
  display: inline-block;
  vertical-align: bottom;
  max-height: 200px;
}
.b-card__img>img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}
.b-card__subscr {
  display: inline-block;
  vertical-align: bottom;
  max-width: 227px;
  max-height: 200px;
  margin-left: 5px;
  overflow: hidden;
  margin-bottom: -7px;
}
.b-card__about {
  margin-top: 19px;
  text-transform: uppercase;
  color: #666;
}
