.b-feedback {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.93);
  box-shadow: 0 2px 7px rgba(0,0,0,0.06);
  border-bottom: 1px solid #ff7a40;
  display: none;
}
.b-feedback__form {
  padding: 16px 20px 16px;
}
.b-feedback__form:before,
.b-feedback__form:after {
  content: " ";
  display: table;
}
.b-feedback__form:after {
  clear: both;
}
.b-feedback__col {
  width: 208px;
  float: left;
}
.b-feedback__send {
  clear: both;
  text-align: center;
  margin-top: -2px;
}
.b-feedback__submit {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #007dee;
  cursor: pointer;
  vertical-align: top;
}
.b-feedback__textarea {
  width: 246px;
  padding-left: 20px;
}
