.b-feedback {
  controlReset();
  background-color: rgba(255,255,255,.93);
  box-shadow: 0 2px 7px rgba(0,0,0,.06);
  border-bottom: 1px solid #ff7a40;
  display: none;
  &__form {
    clearfix();
    padding: 16px 20px 16px;
  }
  &__col {
    width: 208px;
    float: left;
  }
  &__send {
    clear: both;
    text-align: center;
    margin-top: -2px;
  }
  &__submit {
    controlReset();
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: $baseLinkColor;
    cursor: pointer;
    vertical-align: top
  }
  &__textarea {
    width: 246px;
    padding-left: 20px;
  }
  
}