.b-table {
  normalFonts();
  text-transform: uppercase;
  border-collapse collapse;
  /*width: 100%;*/
  width: 850px;
  margin-left: -3px;
  &__row {
    &>td {
      border-top: 1px solid #c4e3ff;
      /*padding-left: 50px;*/
      /*padding-right: 7px;*/
      padding-top: 7px;
      padding-bottom: 4px;
      &:first-child {
        padding-left: 3px;
      }
    }
    &:first-child>td {
      border-top: none;
    }
  }
  &__head {
    color $baseRedColor;
    &>th {
      text-align: left;
      /*padding-left: 50px;*/
      /*padding-right: 7px;*/
      padding-top: 7px;
      padding-bottom: 5px;
      &:first-child {
        padding-left: 3px;
      }
    }
  }
  &_type_player {
    margin-left: 0;
    td {
      text-transform: none
      color $baseColorGray;
    }
  }
  &_type_player &__row {
    & > td {
      border-top: none;
      border-bottom: 1px solid #c4e3ff;
      padding-left: 18px;
      padding-right: 0;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  &_type_player &__head {
    & > th {
      padding-left: 18px;
      padding-right: 0;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}