.b-table {
  font: normal 18px/1.3333333333333333em 'PT Sans Narrow', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border-collapse: collapse;
/*width: 100%;*/
  width: 850px;
  margin-left: -3px;
}
.b-table__row>td {
  border-top: 1px solid #c4e3ff;
/*padding-left: 50px;*/
/*padding-right: 7px;*/
  padding-top: 7px;
  padding-bottom: 4px;
}
.b-table__row>td:first-child {
  padding-left: 3px;
}
.b-table__row:first-child>td {
  border-top: none;
}
.b-table__head {
  color: #ff4e00;
}
.b-table__head>th {
  text-align: left;
/*padding-left: 50px;*/
/*padding-right: 7px;*/
  padding-top: 7px;
  padding-bottom: 5px;
}
.b-table__head>th:first-child {
  padding-left: 3px;
}
.b-table_type_player {
  margin-left: 0;
}
.b-table_type_player td {
  text-transform: none;
  color: #666;
}
.b-table_type_player .b-table__row > td {
  border-top: none;
  border-bottom: 1px solid #c4e3ff;
  padding-left: 18px;
  padding-right: 0;
}
.b-table_type_player .b-table__row > td:first-child {
  padding-left: 0;
}
.b-table_type_player .b-table__head > th {
  padding-left: 18px;
  padding-right: 0;
}
.b-table_type_player .b-table__head > th:first-child {
  padding-left: 0;
}
