.b-inp {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 100%;
  height: 27px;
  background-color: #fff;
  border: solid 1px #afd8fd;
  width: 100%;
  text-transform: uppercase;
  color: #666;
}
.b-inp_type_area {
  height: 167px;
  resize: none;
  text-transform: none;
  overflow: auto;
}
