.b-inp {
  controlReset();
  height: 27px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #fff, 0 2px #b7ddff;
  border: solid 1px #afd8fd;
  width: 100%;
  text-transform: uppercase;
  color #666;
  
  &_type_area {
    height: 167px;
    resize: none;
    text-transform: none;
    overflow: auto;
  }
}