.b-team {
  padding-left: 20px;
}
.b-team__h {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
  color: #4facff;
  margin-left: -2px;
  padding-top: 18px;
  padding-bottom: 12px;
}
.b-team__about {
  margin: 0px 0 0 0px;
  overflow: hidden;
}
.b-team__theme {
  clear: left;
  float: left;
  width: 106px;
  margin-bottom: 14px;
  padding-top: 1px;
  padding-bottom: 2px;
}
.b-team__text {
  float: left;
  width: 620px;
  padding-left: 9px;
  padding-top: 1px;
  padding-bottom: 2px;
  border-left: 2px solid #b7ddff;
  margin-bottom: 14px;
/* устраняет в многстрочном блоке смещение строк в IE */
}
.b-team__players {
  margin-top: 14px;
}
.b-team__players:before,
.b-team__players:after {
  content: " ";
  display: table;
}
.b-team__players:after {
  clear: both;
}
.b-team__player {
  float: left;
  margin: 0 10px 10px 0;
}
