.b-team {
  padding-left: 20px;
  &__h {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.4;
    color: #4facff;
    margin-left: -2px;
    padding-top: 18px;
    padding-bottom: 12px;
  }
  &__about {
    margin: 0px 0 0 0px;
    overflow: hidden;
  }
  &__theme {
    clear: left;
    float: left;
    width: 106px;
    margin-bottom: 14px;
    padding-top: 1px;
    padding-bottom: 2px;
  }
  &__text {
    float: left;
    width: 620px;
    padding-left: 9px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-left: 2px solid #b7ddff;
    margin-bottom: 14px;
   
    float: none if ie;
    width: auto if ie;
    margin-left: 120px if ie;
    zoom: 1 if ie; /* устраняет в многстрочном блоке смещение строк в IE */
  }
  &__players {
    margin-top: 14px;
    clearfix();
  }
  &__player {
    float: left;
    margin: 0 10px 10px 0;
  }
}