.b-footer {
  background: url(b-footer.jpg) 50% 100% no-repeat;
  font: 18px/26px $fontSerifOS;
  &__menu {
    padding-top: 5px;
  }
  &__links {
    clearfix();
    margin-top: 93px;
  }
  &__copy {
    float: left;
    color: $baseLinkColor;
    margin-left: 15px;
    text-transform: uppercase;
    padding-top: 3px;
  }
  &__made {
    margin-right: 30px;
    float: right;
  }
  &__btn {
    button();
    color: #fff;
    font-size: 18px;
    padding: 0 18px;
  }
}