.b-footer {
  background: url("b-footer.jpg") 50% 100% no-repeat;
  font: 18px/26px 'Open Sans Condensed', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.b-footer__menu {
  padding-top: 5px;
}
.b-footer__links {
  zoom: 1;
  margin-top: 93px;
}
.b-footer__links:before,
.b-footer__links:after {
  content: " ";
  display: table;
}
.b-footer__links:after {
  clear: both;
}
.b-footer__copy {
  float: left;
  color: #007dee;
  margin-left: 15px;
  text-transform: uppercase;
  padding-top: 3px;
}
.b-footer__made {
  margin-right: 30px;
  float: right;
}
.b-footer__btn {
  height: 34px;
  line-height: 32px;
  background-color: #1489f4;
  background-image: linear-gradient(bottom, #4eabff, #007dee 18%, #319eff);
  display: inline;
  zoom: 1;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  padding: 0 18px;
}
