.b-events {
  background: rgba(255,255,255,0.8);
  &__head {
    padding-top: 16px;
    margin-left: 19px;
    font-size: 18px;
    font-weight: bold;
    color: #f02800;
    text-transform: uppercase
  }
  &__list {
    margin-top: 8px;
    margin-left: 19px;
    font-size: 16px;
    line-height: 22px;
  }
  &__date {
    color: #f02800;
    margin-top: 6px;
  }
  &__name {
    color: #007dee;
    
    white-space nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__more {
    text-align: right;
    margin-top: 25px;
  }
}