.b-events {
  background: rgba(255,255,255,0.8);
}
.b-events__head {
  padding-top: 16px;
  margin-left: 19px;
  font-size: 18px;
  font-weight: bold;
  color: #f02800;
  text-transform: uppercase;
}
.b-events__list {
  margin-top: 8px;
  margin-left: 19px;
  font-size: 16px;
  line-height: 22px;
}
.b-events__date {
  color: #f02800;
  margin-top: 6px;
}
.b-events__name {
  color: #007dee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-events__more {
  text-align: right;
  margin-top: 25px;
}
